.fb-wrap {
  width:100%;
  margin: 0 auto;
}

.fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] { width: 100% !important; }

#toolbar {
 z-index: 2000;
}

#navbar {
	margin-bottom: 0px;
	
}
